@font-face {
	font-family: "segoepr";
	src: url('../fuentes/segoepr.ttf') format("truetype");
}

body {
	background-image: url('../imagenes/fondo.gif');
	font-family: segoepr;
}

a {
	text-decoration: none;
	color: black;
}
#logo{
	float: left;
}

#bienvenida {
	text-align: center;
	padding-top: 1%;
	padding-right: 10%;
}

.mensajesFondo{
	background-color: rgba(153, 0, 0, 0.51);
}

#botonCerrarSesion button{
	float: right;
	font-family: segoepr;
	background: rgba(255, 255, 255, 0.51);
}

table {
	width: 100%;
	border-collapse: collapse;
	border-width: medium;
	background-color: rgba(255, 255, 255, 0.51);
	font-weight: bold;
	font-size: larger;
	font-variant: small-caps;
	text-align: center;
	border-style: solid;
	border-width: thick;
	border-collapse: collapse;
}

td {
	width: 10%;
}

#label_asunto, #label_mensaje{
	float: left;
}

fieldset {
	border-style: solid;
	border-color: black;
}
legend {
	text-decoration: underline;
}

.inputMensaje{
	width: 100%;
}



