@font-face {
	font-family: "segoepr";
	src: url('../fuentes/segoepr.ttf') format("truetype");
}

body {
	background-image: url('../imagenes/fondo.gif');
	font-family: segoepr;
}

a {
	text-decoration: none;
	color: black;
}

#logo {
	float: left;
}

#bienvenida {
	text-align: center;
	padding-top: 1%;
	padding-right: 10%;
}

#cerrarSesion {
	float: right;
}

#botonCerrarSesion, #botonSubmit {
	font-family: segoepr;
	background: rgba(255, 255, 255, 0.51);
}

#botonSubmit {
	width: 120px;
	height: 50px;
	font-size: large;
}

#menu {
	padding-top: 2%;
}

.administracionFondo {
	background-color: rgba(153, 0, 0, 0.51);
}

table {
	width: 100%;
	border-collapse: collapse;
	border-width: medium;
	background-color: rgba(255, 255, 255, 0.51);
	font-weight: bold;
	font-size: larger;
	font-variant: small-caps;
	text-align: center;
	border-style: solid;
	border-width: thick;
	border-collapse: collapse;
}

td {
	width: 10%;
}

#campos {
	margin-left: 5%;
	margin-bottom: 1%;
	float: left;
}

#datos {
	float: left;
	width: 35%;
	margin-left: 1%;
}

#datoTelefono, #barraTelefono {
	float: left;
}

#barraTelefono {
	margin-left: 2%;
	margin-right: 2%;
}

#contrasena {
	margin-top: 2%;
}

#camposContrasena {
	float: left;
}

#submit {
	margin-right: 1%;
}

input {
	height: 23px;
}

#datos div {
	margin-bottom: 2%;
}

#datosContrasena div{
	margin-bottom: 3%;
}

#campos div {
	margin-bottom: 4%;
}

#camposContrasena div {
	margin-bottom: 1%;
}

#datosContrasena {
	margin-left: 85%;
}

form {
	font-size: large;
}

#inputDireccion {
	width: 85%;
}

#inputApellidos {
	width: 50%;
}

#submit {
	margin-top: 1%;
	margin-left: 65%;
}
